*{
    margin: 0;
}
.divblue{
    width: 100%;
    height:35px;
    background-color: rgb(42, 42, 167);
}
header{
    width: 100%;
    display: flex;
   
}
.sabad{
    width: 30px;
    margin: 20px;

}
.search{
    width: 30px;
    margin: 20px 5px;
}
.logo{
    text-align: center;
    margin-left: -50px;
}
.logo img{
    width:20%;
    margin: 5px;
}
.hamburger-menu {
    width: 20px;
    height: 20px;
    margin: 20px;
}
.hamburger-menu span{
    display: block;
    width: 16px;
    height: 2px;
    background-color: rgb(49, 49, 49);
    margin: 3px 0;
    border-radius: 10px;
}
.slide img{
    width: 100%;
    margin-bottom:20px;
}
.contain-lavazem{
    float: center;
    width: 420px;
    height:400px;
    margin: 20px auto;
    overflow: hidden;
}
.contain-lavazem:hover .lavazem img{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.lavazem img{
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; 
}
.threeborder{
    margin:20px ;
    text-align: right;
    
}
.divwhole{
    display: flex;
    border: 3px blue solid;
    border-radius: 13px;
    justify-content: right;
    margin: 0 20px;
    padding: 20px;
}
.threeborder p{
    font-family: sans-serif;
    margin:5px;
}
.h1-border{
font-size: 20px;

}